<h2>Búsqueda</h2>

<ul class="list-group">
  <li
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item list-group-item-action list-group-item-secondary"
  >
    Todos los paises
  </li>
  <li
    routerLink="paises"
    routerLinkActive="active"
    class="list-group-item list-group-item-action list-group-item-secondary"
  >
    Buscar un país
  </li>

  <li
    routerLink="capital"
    routerLinkActive="active"
    class="list-group-item list-group-item-action list-group-item-secondary"
  >
    Buscar país por capital
  </li>
  <li
    routerLink="agregar"
    routerLinkActive="active"
    class="list-group-item list-group-item-action list-group-item-secondary"
  >
    Agregar Nuevo País
  </li>
</ul>
