/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$color-purple: #a519ad;
$color-white: #ffffff;
.small-flag {
  width: 50px;
}

/* flags */
.big-flag {
  width: 465px;
}

.btn-flag {
  border: none;
  padding: 0;
  margin: 0;
}

/* buttons */
.btn-close {
  transition: all 0.6s ease;
  color: $color-white !important;
}

.btn-close:focus {
  box-shadow: none;
}

.btn-close:hover {
  transform: scale(1.4);
  transition: all 0.6s ease;
}

/* modal */
.modal-content {
  border-radius: 1.3rem;
}

/* navbar styles */
.logo-nav {
  width: 70px;
}

.user {
  position: absolute;
  right: 30px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 0 9px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* utils */
.mt-6 {
  margin-top: 6.5rem !important;
}

/* links */
.page-item.active .page-link {
  background-color: $color-purple;
  border-color: $color-purple;
}

.page-link {
  color: $color-purple;
}

.page-link:hover {
  color: $color-purple;
}

/* buttons*/
.bi:hover {
  cursor: pointer;
}

.bi-eye-fill {
  color: green;
}

.bi-pencil {
  color: $color-purple;
}

.bi-trash-fill {
  color: red;
}

.bi-geo-alt-fill {
  color: $color-purple;
}

ul.list-group:hover {
  cursor: pointer;
}

.btn-purple {
  background-color: $color-purple;
  border-color: $color-purple;
  color: $color-white;
}
.btn-purple:hover {
  background-color: $color-white;
  border-color: $color-purple;
  color: $color-purple;
}

/* logo */
.home-logo {
  border-radius: 10px;
  box-shadow: 0 0 9px $color-white;
}
